/* homepage - hero slide show*/

.homepage-slide-img {
    .view-content {
        width: 100%;
        display: flex;
        .fade {
            animation-name: fade;
            animation-duration: 4s;
        }
          
        @keyframes fade {
            0% {opacity: 0}
            10% {opacity: 1}
            90% {opacity: .9}
            100% {opacity: .8}
        }

        .views-row {
            img {
                max-width: 100vw;
                height: auto;
            }
        }
    }
}