#myCanvas {
    height: auto;
    left: 130%;
    position: absolute;
    // right: 0;
    top: 20%;
    min-width: 75%;
    rotate: -60deg;
    z-index: -2;
}

.single-footprint {
    display: none;
}
