.DS_Store
backups/
drush/Commands/contrib
drush/Commands/custom/ocio
/docs
/vendor
node_modules
**/*.log
web/*
!web/libraries/
web/libraries/*
!web/libraries/README.md
!web/modules/
web/modules/*
!web/modules/README.md
!web/modules/custom
web/modules/custom/entaa
web/modules/custom/iadf_*
web/modules/custom/miniorange_saml
!web/profiles/
web/profiles/*
!web/profiles/README.md
!web/profiles/custom
web/profiles/custom/iadf
!web/sites/
web/sites/*
!web/sites/*.services.yml
!web/sites/default/
web/sites/default/*
!web/sites/default/settings.*.php
!web/themes/
web/themes/*
!web/themes/README.md
!web/themes/custom
.env