.event-slider-block {
    padding: 50px 0;
    position: relative; //added for footprints
    .event-slider {
        left: 80px;
        position: relative;
        width: 50%;
        .view-content {
            height: 400px;
            p {
                width: 70%;

            }
            &::before {
                content: "";
                background-color: lightblue;
                height: 100%;
                left: 30px;
                position: absolute;  
                top: 0;
                width: 500px;
                z-index: -1; 
            }
        }
    }
}
