.event-slider-block {
    padding: 100px 0;
    position: relative; //added for footprints
    .event-slider {
        left: -100%;
        position: relative;
        width: 50%;
        transition: left 2s;

        .view-content {
            height: 400px;
            .event-slider-individual-events {
                height: 300px;
            }
            p {
                width: 70%;

            }
            &::before {
                content: "";
                background-color: lightblue;
                height: 100%;
                left: 30px;
                position: absolute;  
                top: 0;
                width: 500px;
                z-index: -1; 
            }
        }
    }
}


.event-slider.moveMiniSlider {
    left: 80px;
}