.event-slider-block {
    padding: 50px 0;
    .event-slider {
        left: 80px;
        position: relative;
        width: 40%;
        .view-content {
            display: flex;
            height: 400px;
            &::before {
                content: "";
                background-color: lightblue;
                height: 100%;
                left: 30px;
                position: absolute;  
                top: 0;
                width: 500px;
                z-index: -1; 
            }
        }
    }
}
