.extra-slider-styling {
}

.region-primary-menu {
    align-items: center;
    background-color: #fff;
    border-bottom: 4px solid #f45b69;
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    .site-logo {
        left: -100px;
        position: absolute;
        top: -50px;
        z-index: 1;
        img {
            height: auto;
            max-width: 250px;
            transition: max-width .5s;
        }
    }     
     
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            font-size: 25px;
            padding: 8px;
            a {
                color: #f45b69;
                text-decoration: none;
            }
        }
    }

    #block-simplesmart-site-branding {
        background-color: #fff;
        border-radius: 100px;
        padding: 10px;
        position: relative;
    }
}

.stickyHomeSlider {
    height: 100px;
    padding-top: 80px;
    // position: fixed;
    // scroll-behavior: smooth;
    top: 0;
    width: 100%;
    .site-logo {
        left: -100px;
        top: -120px;
        img {
            height: auto;
            max-width: 200px;
        }
    }  
}

// .regionHeroHomePadding {
//      padding-top: 200px;
// }

