.region-primary-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52489c;
    padding: 10px;
    border-bottom: 4px solid #f45b69;
    .site-logo {
        img {
            max-width: 150px;
            height: auto;
        }
    }    
     
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            padding: 8px;
            font-size: 25px;
            a {
                color: #ebebeb;
                text-decoration: none;
            }
        }
    }

    #block-simplesmart-site-branding {
        background-color: #fff;
        padding: 10px;
        border-radius: 100px;
    }
}
