.layout-sidebar-first {
    margin:10px;
    .region-sidebar-first {
        #block-views-block-animal-listing-block-2 {
            text-align: center;
            img {
                max-width: 200px;
                height: auto;
            }
        }
    }
}