a.button {
    background-color: $ethics-red;
    color: $ethics-white;
    padding: 0.3rem 0.8rem;
    border-color: #9e2b04;
    text-decoration: none;
    margin-top: 0.5rem;
    border: solid #22456b;
    border-width: 0 0 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;

}